.drawer-container{

    width: 400px;
    height: 200px;
    margin: 10px;
}

.aside-expansion{
  background: none;
  box-shadow: none;
  .mat-expansion-panel-header-title{
    font-weight: 700;
  }

  .mat-list-base .mat-list-option{
    font-size: 14px;
  }

}

.main{
  display: flex;
}

.aside{
  width: 265px;
  min-height: 800px;
  background-color: #F6EADE;
  padding: 30px 0px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  li{
    list-style: none;
    a{
      text-decoration: none;
      font-weight: 700;
      color:#2E2E2E;
    }
  };

}

.section-container{
  background-color: #EFEFEF;
  padding: 30px 20px;
  width: calc(100% - 200px);
}
