<section class="footer">
  <div class="footer__container">
    <h2 class="footer__title">
      Empieza a <span>usar</span> <br />
      Aiko-Hero
    </h2>

    <div class="social-icons">
      <img
        src=""
        alt="Aiko-Hero
    By aikodev "
      />
      <ul class="social-icons__icons">
        <li class="social-icons__item">
          <a href="#"></a>
          <img
            src="src\assets\icons\twitter.svg"
            alt="twitter"
            class="social-icons__icon"
          />
        </li>
        <li class="social-icons__item"></li>
        <a href="#"></a>
        <img
          src="src\assets\icons\github.svg"
          alt="github"
          class="social-icons__icon"
        />
        <li class="social-icons__item"></li>
        <a href="#"></a>
        <img
          src="src\assets\icons\linkedin.svg"
          alt="linkedin"
          class="social-icons__icon"
        />
      </ul>
    </div>

    <app-button title="Empezar ahora"></app-button>
  </div>
  <div class="footer__bottom">
    <span class="footer__span"> </span>
    <p class="footer__copyright">Copyright AikoDev. All rights reserved</p>
  </div>
</section>
