.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #faf5ef;
  height: 331px;

  .footer__container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;

    .footer__title {
      font-weight: 600;
      a {
        text-decoration: none;
        color: #f97333;
        transition: all 200ms ease-in-out;
        cursor: pointer;
      }
      a:hover {
        color: #704d3d;
      }
    }

    .social-icons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;

      .social-icons__icons {
        margin-top: 40px;
        .social-icons__item {
          display: inline;
          list-style: none;
          padding: 15px 15px;

          a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: black;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid black;
            transition: all 100ms ease-in-out;
            cursor: pointer;

            &:hover {
              border: 3px solid #f97333;
              svg {
                fill: #f97333;
              }
            }



          }
        }
      }
    }
  }

  .footer__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer__span {
      display: block;
      margin-bottom: 30px;
      margin-top: 30px;
      height: 1px;
      width: 60%;
      border: 0;
      background: grey;
    }
    .footer__copyright {
      width: 233px;
      height: 16px;
      margin-top: 30px;
    }
  }
}
