$small: 300px;
$medium: 900px;


.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;

  @media screen and (max-width:940px) {
    max-width: 300px;
    align-self: flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: 985px;
    max-height: 985px;
}


  &__columns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (min-width: $small) and (max-width: $medium) {
      height: 400px;
      padding: 40px 0px;
    }

    img {
      width: 800px;
      border-radius: 8px;
      margin: 10px;   
      @media screen and (max-width:940px) {
align-self: start;
      margin-left:-250px;
      width: 940px;
      }
    }

    h1 {
      font-size: 60px;
      font-weight: 800;
      line-height: 70px;
      margin: 5px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 33px;
      margin: 5px;
    }
    @media screen and (max-width:940px) {
      justify-content: center;
    } 
  }

}
