

$small: 300px;
$medium: 900px;


.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 600px;

  // Como hago esto con los viewports mobile?
  @media screen and (min-width: $small) and (max-width: $medium) {
      max-width: 300px;
      flex-direction: column;
  }

  &__columns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;

    img {
      width: 800px;
      // box-shadow: 0px 4px 4px 0px #00000040;
      border-radius: 8px;
    }

    h1 {
      font-size: 60px;
      font-weight: 800;
      line-height: 70px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      line-height: 33px;
    }
  }

}
