.header{
  padding: 20px 15px;
  background-color: antiquewhite;
}

a{
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  color: var(--just-black);
}

a:hover{
  text-shadow: 2px 2px 5px var(--just-black);
  font-weight: bold;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-flow: row wrap;
  &__logo{

  }

  &__links{
    display: flex;
    gap: 30px;
    li{
      list-style: none;
      a{
        padding: 10px;
      }
        @media screen and (max-width:940px) {
          pointer-events: auto;
          overflow: hidden;
        }      
    }

    @media screen and (max-width:940px) {
        width:100%;
        gap: 30px;
        height:0vh;
        margin-top: -60px;
        margin-bottom: -30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        align-self: end;
        overflow: hidden;
        pointer-events: none;
        transition: all .5s ease;
        overflow: hidden;
        &--active{
          height:250px;
          pointer-events: auto;
          overflow: hidden;
        }
    }
  }
  @media screen and (max-width:940px) {
    overflow: hidden;
  }
  
&__component{
  height:4vh;
  @media screen and (max-width:940px) {
    width:100%;
    height:0vh;
    margin-top: -3px;
    margin-bottom: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-self: end;
    overflow: hidden;
    pointer-events: none;
    transition: all .5s ease;
    overflow: hidden;
    &--active{
      height:50px;
      pointer-events: auto;
      overflow: hidden;
    }
}

}
  .header-button{
    align-items: center;
    border: 2px solid var(--just-black);
    cursor: pointer;
    font-weight: 700;
    display: none;
    margin-left: 20px;
  
@media screen and (max-width:940px) {
  display: flex;
  align-self: start;
  overflow: hidden;
  margin: 5px;
}
}

  .header-button:disabled{
    opacity: 50%;
  }
  
  .header-button{
    background-color: var(--primary-color);
  }
  
  .header-font-white{
    color: var(--just-white);
  }
  
  .header-font-dark{
    color: var(--just-back);
  }
  
  .header-button:hover{
  box-shadow: 2px 2px 2px 2px var(--just-black);
  }
  
  .header-button:active {
    box-shadow: -1px -1px 1.5px 1.5px var(--just-black);
  }

}
.mat-raised-button {
  color: white;
}

.active {
  color: var(--primary-color);
}
.active a {
  color: var(--primary-color);
}