.header{
  padding: 20px 15px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  &__logo{

  }

  &__links{
    display: flex;
    gap: 30px;
    li{
      list-style: none;
      a{
        cursor: pointer;
      }
    }
  }

}


