$roboto: 'Roboto';
$border-black: #2E2E2E;
$size-p: 1.1rem;
$line-height: 25px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  min-width: 320px;
  font-family: $roboto
}

.features-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  min-height: 100vh;
  background-color: #F6EADE;
  padding: 3%;
}

.features-container__text {
  position: relative;
  padding: 5%;
  h2{
    padding: 10px;
    font-size: 1.4rem;
    line-height: 35px;
    font-weight: bold;
    border-bottom: 1px solid $border-black;
  }
  p{
    margin-left: 20px;
    line-height: $line-height;
    font-size: $size-p;
  }
}

.features-container__features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.features-box {
  padding: 6%;
  transition: 200ms;
  article img {
    width: 13%;
    height: 13%;
  }
  article h3{
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 800;
  }
  article p{
    margin-top: -10px;
    line-height: $line-height;
    font-size: $size-p;
  }
}

.features-box:hover {
  border: 3px solid $border-black;
  box-shadow: -4px 6px 2px 2px var(--just-black);
  transition: all 200ms ease-in-out;
}

//Para dispositivos Desktop
@media only screen and (min-width: 800px) {
    .features-container__text {
      display: flex;
      padding: auto;
      h2{
        font-size: 2.0rem;
        border-bottom: none;
        border-right: 1px solid $border-black;
      }

    }


    .features-container__features {
      flex-direction: row;
      padding: 20px;

    }

    .features-box {
      margin: auto;
      width: 500px;
    }


}
