<section class="features-container">

  <div class="features-container__text">
    <h2>¿Qué es Aiko Hero y por qué debería usarlo?</h2>
    <p>Aiko Hero es una librería basada en TypeScript que te ayuda a crear o añadir heros a tu página web de una manera muy sencilla.</p>
  </div>

  <div class="features-container__features">

    <div class="features-box">
      <article class="features-box__article">
        <img src="../../../assets/feature-img1.png">
        <h3>Diseño</h3>
        <p>Nuestro diseño está preparado para combinar perfectamente con cualquier plataforma.</p>
      </article>
    </div>

    <div class="features-box">
        <article class="features-box__article">
          <img src="../../../assets/feature-img3.png">
          <h3>Configurable</h3>
          <p>Tendrás muchas opciones para configurar tu hero de acuerdo a tus propios requerimientos.</p>
        </article>
    </div>

    <div class="features-box">
        <article class="features-box__article">
          <img id="img3" src="../../../assets/feature-img2.png">
          <h3>Responsive</h3>
          <p>Podrás usar AikoHero desde cualquier dispositivo móvil o de escritorio.</p>
      </article>
    </div>
  </div>
</section>
