<section class="features-container">

  <div class="features-container__text">
    <h2></h2>
    <span></span>
  </div>

  <div class="features-container__features">

    <div class="features-box">
      <img src="../../../assets/feature-img1.png" class="features-box__image">
      <h3 class="features-box__title"></h3>
      <span class="features-box__paragraph"></span>
    </div>

    <div class="features-box">
      <img src="../../../assets/feature-img2.png" class="features-box__image">
      <h3 class="features-box__title"></h3>
      <span class="features-box__paragraph"></span>
    </div>

    <div class="features-box">
      <img src="../../../assets/feature-img3.png" class="features-box__image">
      <h3 class="features-box__title"></h3>
      <span class="features-box__paragraph"></span>
    </div>

  </div>

</section>
