@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

.section-example-container {
  position: absolute;
  width: 1512px;
  height: 818px;
  left: 0px;
  top: 3558px;
  background-color:   #EFEFEF;
}

.carbon-code {
  position: absolute;
  width: 663px;
  height: 336px;
  left: 142px;
  top: 3757px;
  }

.title{
  position: absolute;
  width: 485px;
  height: 186px;
  left: 871px;
  top: 3757px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  color: #2E2E2E;
}


.subtitle {
position: absolute;
width: 462px;
height: 99px;
left: 871px;
top: 3976px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
color: #000000;
}

.compatible {
  position: absolute;
width: 177px;
height: 32px;
left: 660px;
top: 4171px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 130%;
color: #2E2E2E;
}

.html-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 524px;
  top: 4216px;

}

.react-icon {
  position: absolute;
  width: 106px;
  height: 106px;
  left: 696px;
  top: 4203px;
}

.angular-icon {
position: absolute;
width: 106px;
height: 106px;
left: 882px;
top: 4203px;
}


