
<div class="section-example-container">
</div>

<img class="carbon-code" src="./assets/icons/carbon (1) 1.png">
<img class="html-icon" src="./assets/icons/Html 5.png">
<img class="react-icon" src="./assets/icons/React - png 0.png">
<img class="angular-icon" src="./assets/icons/Angular - png 0.png">

<div class="title">Tan sencillo como escribir una sola línea de código

</div>

<div class="subtitle">Añadir un hero a tu página web nunca fue tan sencillo. ¡Empezá a usar AikoHero en tus páginas!</div>


<div class="compatible">Compatible con</div>





