<section class="section-example">

    <div class="container">
        <article class="container__content">
            <img class="carbon-code" src="./assets/icons/carbon(1)1.png" />

            <div class="info">
                <h2 class="title">Tan sencillo como escribir una sola línea de código</h2>
                <p class="subtitle">
                    Añadir un hero a tu página web nunca fue tan sencillo. ¡Empezá a usar AikoHero en tus páginas!
                </p>
            </div>
        </article>

        <h4 class="compatible">Compatible con</h4>

        <div class="container__technologies">
            <img class="html-icon" src="./assets/icons/Html5.png" />
            <img class="react-icon" src="./assets/icons/React-png0.png" />
            <img class="angular-icon" src="./assets/icons/Angular-png0.png" />
        </div>
    </div>

</section>
