<article class="card-container">

  <div class="card-dev">
    <p class="card-dev__lname">{{ dev.lname }}</p>
    <p class="card-dev__fname">{{ dev.fname }}</p>
    <p class="card-dev__position">{{ dev.position }}</p>
    <!--<div *ngFor="let social of arrayDevs">{{ dev.socialMedia }}</div>-->
    <div class="card-dev__social-media">

      <a *ngFor="let socialItem of dev.socialMedia" [href]="socialItem.url" target="_blank">
        <ng-icon [name]="getIcon(socialItem.name)"
          color="black"
        ></ng-icon>
      </a>

    </div>
    <div class="card-dev__img">
      <img [src]="dev.image" alt="" >
    </div>
  </div>

</article>
